﻿@{
    Layout = "";
}
@model Nop.Plugin.Shipping.Estafeta.Models.EstafetaShippingModel
@using Nop.Web.Framework;

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.WebService_URL)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.WebService_URL)
                        @Html.ValidationMessageFor(model => model.WebService_URL)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.UseSandbox)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.UseSandbox)
                        @Html.ValidationMessageFor(model => model.UseSandbox)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.FreeShippingLine)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.FreeShippingLine)
                        @Html.ValidationMessageFor(model => model.FreeShippingLine)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ShippingPrice)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ShippingPrice)
                        @Html.ValidationMessageFor(model => model.ShippingPrice)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}